nav {
  display: flex;
  flex-direction: row;
  background-color: red;
  justify-content: space-between;
  padding: 0px 10px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
